{% extends "layout.html" %} {% block title %} Help {% endblock %} {% block
body %}

<div class="animated-box" style="height: 485px">
  <h1>Thank you for choosing HX Task Manager!</h1>
  <p>Here is a simple walkthrough:<br></p>
  <ol>
    <li>By clicking on "Add Task", you can create tasks with personalized<br>
    title, description and deadline.</li>
    <li>In the homepage, click on the task you just created. You'll be able to view its details you just set,<br>
    along with 2 options: "Delete Task" (self explanatory) and "Set Reminders".</li>
    <li>By clicking on the latter, you'll have a page where you can set up to 5 reminders.<br>
    You can overwrite the reminders set previously. As the name suggests,<br>
    you'll be sent mail(s) as reminder(s) during the selected timestamp(s),<br>
    however, you can get mails only after you've done the following steps.</li>
    <li>Set, then Verify your email by the respective options in the menu (one-time).</li>
    <br>
    <li>Set your timezone (one-time).                                       </li>
    <li>Go to "Configure Notifications", where you can turn on and off the reminders.<br>
    By default, they are off. You can switch them on-off anytime.</li>
    <li>Make sure to visit the homepage to trigger the website<br>
    scheduled email sending after creating all your tasks with their reminders (if any).</li>
  </ol>
</div>

<br>

<div class="animated-box" style="height: 110px">
  <p>By DangerousApple. Thank Starry for scheduled email sending support.<br>
  Source code: <a href="https://github.com/DangerousApple14/HX_TaskManager">GitHub</a></p>
</div>

{% endblock %}
